body{
    font: normal 12px/1.5 Microsoft yahei,Arial;
    color: #666;
}
li{list-style: none;}
#head{
    height: 98px;
    border-bottom: 2px solid #c33;
    .wrapper{
        width: 1200px;
        margin: 0 auto;
        .left{
            width: 311px;
            height: 73px;
            background: url(https://s2.ymatou.com/top/a09cf0d320e4ffc6445ae0ec42cb02f0.png);
            display: block;
            float: left;
            margin: 12px 0 13px;
        }
        .right{
            float: right;
            padding-top: 40px;
            line-height: 24px;
            div{
                float: left;
                position: relative;
               
                span{
                    color: #999;
                    margin: 0 10px;
                    position: relative;
                    z-index: 200;
                    i{
                        display: inline-block;
                        border-width: 3px;
                        border-style: solid dashed dashed;
                        border-color: #666 transparent transparent;
                        margin: 6px 3px 0;
                    }
                }
                .downlist{
                    width: 88px;
                    border: 1px solid #666;
                    position: absolute;
                    background-color: #fff;
                    left: 0;
                    top: -8px;
                    display: none;
                    line-height: 18px;
                    overflow: hidden;
                    text-align: center;
                    cursor: pointer;
                    ul{
                        padding: 0;
                        li{
                            color: #999;
                            padding: 5px 8px;
                            margin-bottom: -1px;
                        }
                        .first{
                            margin-top: 30px;
                        }
                    }
                }
                
            }
        }
    }
}
#body{
    overflow: hidden;
    .container{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .register{
            .reg-tab{
                height: 70px;
                border-bottom: 2px solid #ddd;
                position: relative;
                .phone{
                    display: block;
                    float: left;
                    overflow: hidden;
                    height: 70px;
                    line-height: 70px;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 0 40px;
                    border-bottom: 2px solid #ddd;
                }
                .active{
                    border-bottom-color: #f04e00;
                    color: #f04e00;
                    background: url(https://s2.ymatou.com/login/5b664fb6bc602e04ae085eab8d2a52b9.jpg) no-repeat bottom;
                }
                .right{
                    position: absolute;
                    right: 10px;
                    top: 25px;
                }
            }
            .reg-form{
                .fl{
                    width: 680px;
                    float: left;
                    margin-left: 20px;
                    ul{
                        padding: 0;
                        .item{
                            margin: 15px 0;
                            padding: 5px 0;
                            line-height: 26px;
                            overflow: hidden;
                            .regtitle{
                                float: left;
                                text-align: right;
                                width: 105px;
                                margin-right: 8px;
                                em{
                                    color: #f04d00;
                                }   
                            }
                            input{
                                margin-right: 3px;
                                width: 200px;
                                height: 22px;
                                border: 1px solid #dadada;
                                line-height: 22px;
                                box-shadow: inset 2px 2px 4px #f0f0f0;
                                border-top: 1px solid #bababa;
                                padding: 2px 10px;
                            }
                            span{
                                display: none;
                                height: 28px;
                                background: #f2f2f2;
                                line-height: 28px;
                                padding: 0 10px;
                                color: #666;
                            }
                            img{
                                vertical-align: middle;
                            }
                            i{
                                cursor: pointer;
                            }
                            button{
                                height: 28px;
                            }
                        }
                        .btn{
                            width: 67px;
                            height: 30px;
                            background: url(https://s2.ymatou.com/login/d50e308ab6557dead5473e95d8901975.png) -27px -2px;
                            display: inline-block;
                            color: #fff;
                            line-height: 30px;
                            text-align: center;
                            margin-left: 200px;
                            cursor: pointer;
                        }
                    }
                }
                .fr{
                    float: right;
                    height: 370px;
                    width: 192px;
                    overflow: hidden;
                    padding: 20px 30px 0;
                    margin-right: 20px;
                    background: url(https://s2.ymatou.com/login/49694f08c5a1502bc7993f9367d5a441.png) no-repeat 0 0;
                    h5{
                        padding: 10px 0;
                    }
                    .bd{
                        border: 1px solid #e2e2e2;
                        .dd{
                            padding: 5px 10px;
                            height: 24px;
                            line-height: 24px;
                            border-bottom: 1px dashed #e2e2e2;
                            margin-bottom: -1px;
                            a{
                                color: #666;
                                text-decoration: none;
                                i{
                                    display: inline-block;
                                    width: 24px;
                                    margin-right: 10px;
                                    vertical-align: middle;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }

}
.sina i{
    background-image: url(https://s2.ymatou.com/login/d50e308ab6557dead5473e95d8901975.png);
    background-position: -86px -235px;
    height: 21px;
}
.zhifubao{
        i{
            background: url(https://s2.ymatou.com/login/d50e308ab6557dead5473e95d8901975.png) -62px -235px;
            height: 16px;
        }
}
.wechat i{
    background: url(https://s2.ymatou.com/login/bfdb5897258b551e046ea2fbc433c70b.png) no-repeat;
    height: 20px;
}


.copywrite{
    height: 84px;
    width: 1200px;
    margin: 20px auto 0;
    text-align: center;
    p{
        margin: 5px;
    }
}
