<div class="nar">
        <div class="nar-fl">
            Hi，欢迎来到洋码头！<span><a href="//seller.ymatou.com/Seller" target="_blank">我是买手</a></span>
        </div>
        <ul class="nar-fr">
            <li class="first">
                    <a href="http://localhost:8080/pages/login/login.html">登录</a>
            </li>
            <li><a href="http://localhost:8080/pages/register/register.html">注册</a></li>
            <li><a href="http://localhost:8080/pages/shopcar/shopcar.html">购物车</a></li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">个人中心</a></li>
        </ul>
    </div>