<ul>
          <li>
            <a href="#" target="_blank" title="我">
                <i class="me"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" title="购物车">
                <i class="gouwuche"></i><br>购<br>物<br>车
            </a>
        </li>
        <li>
            <a href="#" target="_blank" title="二维码">
                <i class="QRcode"></i>
            </a>
        </li>
        <li class="last">
            <a href="#" target="_blank" title="置顶">
                <i class="zhiding"></i><br>TOP
            </a>
        </li>
    </ul>